:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

.page {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh; /* Ensure full viewport height coverage */
  font-size: 3rem;
  font-weight: bold;
  background: rgb(155, 187, 182);
  background: linear-gradient(
    90deg,
    rgba(155, 187, 182, 1) 0%,
    rgba(255, 255, 255, 0.5125512295081966) 50%,
    rgba(155, 187, 182, 1) 100%
  );
}


.navigation {
  display: flex;
  background-color: #333; /* Dark background for the nav bar */
  overflow: hidden;
  width: 100%;
}

.nav-menu {
  list-style-type: none; /* Removes bullets from the list */
  margin: 0;
  padding: 0;
  display: flex; /* Display list items in a row */
}

.nav-menu li a {
  display: block; /* Style links to fill the list item area */
  color: white; /* Text color */
  text-align: center;
  padding: 14px 16px; /* Spacing inside links */
  text-decoration: none; /* Remove underlines from links */
  font-size: 1.5rem;
}

/* Change link color on hover */
.nav-menu li a:hover {
  background-color: #ddd;
  color: black;
}


.nav-menu li .active {
  background-color: #ddd;
  color: black;
}
