:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

.page {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh; /* Ensure full viewport height coverage */
  font-size: 3rem;
  font-weight: bold;
  background: rgb(155, 187, 182);
  background: linear-gradient(
    90deg,
    rgba(155, 187, 182, 1) 0%,
    rgba(255, 255, 255, 0.5125512295081966) 50%,
    rgba(155, 187, 182, 1) 100%
  );
}

